body{
	max-width:100%;
	overflow-x:hidden;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
body::-webkit-scrollbar { 
    display: none; 
}
#Titlebar {
	margin-left: 5%;
	margin-right:5%;
	overflow:hidden;
	height:50px;
	position:absolute;
	width:90%;
	z-index:1;
	background:white;
}

#Titlebar .Title {
	font-style: normal;
	font-variant: small-caps;
	font-weight: 600;
	font-size: 250%;
	float:left;
	width:45%;
	margin-bottom:0%;
	padding-bottom:0%;
}

#Menu{
	font-style:normal;
	font-size:larger;
	float:right;
	width:55%;
	margin-bottom:0%;
	margin-left:0%;
}

ul#Menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
}

#Menu li{
    float: right;
    margin-bottom:0%;
    margin-top:3%;
    margin-right:1%;
}

#Menu li a {
	font-variant:small-caps;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color:#6495ED;
    
}

#Menu li a:hover{
	cursor:pointer;
}

#Menu li.Current a {
	text-decoration:underline;
}

.container{
	margin-left:20%;
	margin-right:20%;
	margin-top:60px;
	font-size:120%;
	overflow:hidden;
}

.Title{
	text-align:center;
	width:100%;
	font-variant:normal;
	padding-bottom:3%;
	font-size:150%;
	font-variant:small-caps;
	font-weight:bold;
}

.container .Title{
	font-weight:500;
	text-decoration:underline;
	float:left;
	left:-50%;
}

.container a{
	color:black;	
}

.container ul{
	margin-bottom:10%;
}

.container li{
	font-size:100%;
}

#contentFrame{
	position:absolute;
	display:block;
	background: transparent;
	border: none;
	height:90vh;
	margin-left:-5%;
	margin-top:8vh;
	width:110%;
	overflow-y:visible;
	overflow-x:hidden;
	z-index:0;
}

#contentFrame::-webkit-scrollbar { 
    display: none; 
}

#container .Link{
	
	text-decoration:underline;
}

#container .Link:hover{
	cursor:pointer;
}


#BlogContent{
	width:80%;
	height:75%;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
}

#ArticleFrame{
	float:left;
	width:50%;
	display:block;
	background:transparent;
	border:none;
	position:absolute;
	padding-right:35%;
	z-index:-1;
	overflow:hidden;
}
#ArticlesList{
	float:right;
	width:30%;
	border:thin;
	border-color:gray;
	z-index:0;
}

#ArticlesList .Title{
	font-size:smaller;
	color:black;
	text-decoration:underline;
	cursor:pointer;
	padding-bottom:0%;
	margin-top:0%;
}

hr{
	width:100%;
	float:right;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
